body {
    background-color: lemonchiffon;
    font-family: Helvetica;
}

h1 {
    text-align: center;
    font-size: 40px;
}

img#profile-pic {
    width: 500px;
    border-radius: 50%;
}

a {
    color: cornflowerblue;
}

#insta-link {
    color: darkviolet;
}

a.social-link {
    font-size: 24px;
    padding: 8px 16px;
    background-color: aliceblue;
    text-decoration: none;
    border: 1px solid brown;
    border-radius: 10px;
}
a.social-link:hover {
    background-color: cornflowerblue;
    color: white;
}